*
!.gitignore
!LICENSE
!README.md
!*.cs
!Icon.*
!Engine/
Engine/*
!Engine/*.cs
!Engine/Components
!Engine/Components/*
!Engine/Systems
!Engine/Systems/*
!Engine/SceneTransitions
!Engine/SceneTransitions/*.cs
!Engine/SceneRenderables
!Engine/SceneRenderables/*.cs
!Engine/AnimatedValues
!Engine/AnimatedValues/*.cs
!Content/
Content/*
!Content/*
Content/Content.mgcb
Content/obj
Content/obj/*
Content/bin
Content/bin/*
Content/Items
Content/Items/*
!Entities/
!Entities/*.cs
!Scenes/
!Scenes/*.cs
