*
!.gitignore
!LICENSE
!README.md
!*.cs
!Icon.*
!Engine/
Engine/*
!Engine/*.cs
!Engine/Components
!Engine/Components/*
!Engine/Systems
!Engine/Systems/*
!Engine/UI
!Engine/UI/*
!Engine/Managers
!Engine/Managers/*
!Engine/SceneTransitions
!Engine/SceneTransitions/*.cs
!Engine/Input
!Engine/Input/*.cs
!Engine/Sprites
!Engine/Sprites/*.cs
!Engine/SceneRenderables
!Engine/SceneRenderables/*.cs
!Engine/AnimatedValues
!Engine/AnimatedValues/*.cs
!Engine/Utilities
!Engine/Utilities/*
!Content/
Content/*
!Content/*
Content/Content.mgcb
Content/obj
Content/obj/*
Content/bin
Content/bin/*
!Content/Buildings
!Content/Buildings/*
!Content/Characters
!Content/Characters/*
!Content/Characters/Human/
!Content/Characters/Human/*
!Content/Characters/Human/*/*
!Content/Characters/Players/
!Content/Characters/Players/*
!Content/Characters/NPC/
!Content/Characters/NPC/*
!Content/Characters/Enemies/
!Content/Characters/Enemies/*
!Content/Emojis
!Content/Emojis/*
!Content/Fonts
!Content/Fonts/*
!Content/Items
!Content/Items/*
!Content/Maps
!Content/Maps/*
!Content/Music
!Content/Music/*
!Content/Objects
!Content/Objects/*
!Content/Sounds
!Content/Sounds/*
!Content/UI
!Content/UI/*
!Content/VFX
!Content/VFX/*
!Content/Weapons
!Content/Weapons/*
Content/.DS_Store
Content/.DS_Store
Content/*/.DS_Store
Content/*/*/.DS_Store
!Entities/
!Entities/*.cs
!Scenes/
!Scenes/*.cs
!Customisations/
!Customisations/*.cs
!Data/
!Data/*
!TriggerEvents
!TriggerEvents/*.cs